[bumpversion]
current_version = 0.0.5
commit = True
tag = True
tag_name = v{new_version}
message = [{now:%Y-%m-%d}] GitHub Actions Build {current_version} → {new_version}

[bumpversion:file:dhg-vaccinefee-ui/package.json]
search = "version": "{current_version}"
replace = "version": "{new_version}"

[bumpversion:file:VERSION]
search = {current_version}
replace = {new_version}
